memorysetup-bucket-allocator-block-size=33554432
memorysetup-bucket-allocator-block-count=8
memorysetup-profiler-bucket-allocator-block-size=33554432
memorysetup-profiler-bucket-allocator-block-count=8
memorysetup-temp-allocator-size-main=16777216
memorysetup-temp-allocator-size-preload-manager=33554432
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
